
<div class="mb-3">
  <label for="filterTextCar" class="form-label">Araba Ara</label>
  <input type="text" [(ngModel)]="filterTextCar" class="form-control" id="filterTextCar" placeholder="arama ifadesi giriniz">
</div>

<div *ngIf="filterTextCar" class="alert alert-success">
{{filterTextCar}} aradınız
</div>
<table class="table">
    <thead>
      <tr>
  
        <th>Marka</th>
        <th>Renk</th>
        <th>Model Yılı</th>
        <th>Günlük Fiyat</th>
        <th>Açıklama</th>
        
        
   
      </tr>
    </thead>
    <tr *ngFor="let car of cars | filterCar:filterTextCar">
  
      <td>{{ car.brandName }}</td>
      <td>{{ car.colorName }}</td>
      <td>{{ car.modelYear }}</td>
      <td>{{ car.dailyPrice | currency:"₺" }}</td>
      <td>{{ car.description }}</td>
      <td>{{car.carId}}</td>
      
      <td><button class="btn btn-danger"type="button" routerLink="cars/images/{{car.carId}}">Detay</button></td>
      <td><button class="btn btn-success" routerLink="cars/rental/{{car.carId}}">Rent</button></td>
    </tr>
  </table>